<main>
	<div class="home">
		<p class="home-text">
			Домашня сторінка
		</p>
	</div>
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
	Адже наш layout/default.hbs має вже структуру HTML
	}}