<div class="field dield--password">
	<label for="{{name}}" class="field__label">{{label}}</label>

	<div class="field__wrapper">
		<input oninput="singupForm.change(this.namemthis.value)" type="password" class="filed__input" name="{{name}}"
			value="{{value}}">
		<span onclick="fieldPassword.toggle(this)" class="field__icon"></span>
	</div>
</div>